a:hover 
        {
            color: red;
        }
        a
        {
            color: darkcyan;
        }
body
{
    margin: 0;
    padding: 0;
    height: 100vh;
}
pre
{
    font-size:1vw;
    margin-left:6vw;
}
