.main-page
{
    display: flex;
    height:100vh;
}
#left-side-photo , img
{
    width: 40vw;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin: 1vw;
    overflow: hidden;
}
#right-side-nav-bar
{
    width: 60vw;
    margin-left: 8vw;
    margin:1vw;
}
body
{
    background-color: black;
}
#nav
{
    display: flex;
    gap: 2vw;
    padding: 3vw;
}
button
{
    font-size: 2vw;
    font-style:oblique;
    border-radius: 1vw;
    background-color:black;
    border-style: double;
    color: white;
    height: 4vw;

}
button:hover
{
    background-color: red;
}
img
{
    width: 30vw;
}
#display-content
{
    color: white;
    font-size: 1.5vw;
    padding: 0.5vw;
    margin-left: 5vw;
}
body
{
    margin: 0;
    padding: 0;
    height: 100vh;
}