body {
    
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    
}
#projects {
    height: 40vh; 
    overflow-y: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw; 
    margin-left: 10px;
}
#b {
    color: white;
    background-color: rgb(84, 84, 231);
    font-size: 2vw;
}
p
{
    text-align: center;
}
span
{
    color: darkcyan;
}
 #p5, #p1, #p2, #p3,#p4 {
    border-style: double;
    border-radius: 1vw;
    border-width: 1vw;
    text-align: center;
    width: 70vw;
    margin: 1vw;
    padding-bottom: 1vw;
    height: max-content;
    font-size: 2vw;
}
#b:hover {
    background-color: rgb(10, 10, 237);
}
